:root{
    --header-height: 3rem;
    /*color*/
    --brown-color: #412E27;
    --green-color: #6A704C;
    --body-color: #EDE1D1;
    --darker-body-color: #c4a884;
    /*typo*/
    --body-font: "Lora";
    --body-font2: "Fira Sans Extra";
    --nav-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .785rem;
    --z-fixed: 100;
}

footer{
    background-color: var(--brown-color);
    color: blanchedalmond;
    padding: 3vh;
    text-align: center;
    position: relative;
}
.footer-info{
    justify-content: space-between;
    font-size: var(--small-font-size);
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
}
.footer-info a{
    color: white;
}
body{
    font-family: var(--body-font);
    margin: 0;
}
.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header .icon-cart{
    position: relative;
}
header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: var(--green-color);
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
    justify-content: center;
}
header a{
    text-decoration: none;
    color: var(--brown-color)
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 5px 20px #0009);
    border-radius: 10px;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: var(--darker-body-color);
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: var(--green-color);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.cartTab{
    width: 400px;
    background-color: black;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: inline-block;
    grid-template-columns: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translateX(-250px)
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
    background-color: var(--green-color);
    border: none;
    font-family: var(--body-font2);
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: #eee;
}
.cartTab .listCart .item img{
    width: 100%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .qty span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .qty span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .item:nth-child(even){
    background-color: var(--green-color);
}

.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
